<!doctype html>
<html>
<head>
  <!-- build:css /styles/chain.css -->
  <link href="/styles/chain.css" rel="stylesheet">
  <!-- endbuild -->
</head>
<body>
<h1 data-translate="music_chain_title"></h1>
<div id="chain-holder">
</div>
<script type="text/template" id="chain-template">
  <section class="chain">
          <span class="label">
            {{label}}
          </span>
    <div class="control-box">
      <button class="control btn-play" data-role="play" data-id="{{id}}" data-label="{{label}}"></button>
      <button class="control btn-remove" data-role="remove" data-id="{{id}}"></button>
    </div>
  </section>
</script>
<script type="text/template" id="if-empty-query" data-translate="empty_music_query"></script>

<section class="control-panel">
  <button class="action btn-play" style="display: none;" id="play-chain">
    <span data-translate="play_music_query" ></span>
  </button>
  <button class="action btn-pause" style="display: none;" id="pause-chain">
    <span data-translate="pause_music_query"></span>
  </button>
</section>

<!-- build:js /scripts/popup.js -->
<script src="/scripts/popup.js"></script>
<!-- endbuild -->
</body>
</html>