<!DOCTYPE html>
<html>
<head>
  <title class="translate">appName</title>
  <!-- build:css styles/options.css -->
  <link href="../styles/options.css" rel="stylesheet">
  <!-- endbuild -->
</head>

<body>
<section>
  <div id="messages"></div>
</section>
<section>
  <div>
    <span class="label" data-translate="true">skin_option_label</span>
    <select id="skin" class="control">
      <option value="default" data-translate="true">skin_default_option_value</option>
      <option value="pinky" data-translate="true">skin_pinky_option_value</option>
    </select>
  </div>
</section>
<section>
  <div>
    <button id="save" class="control" data-translate="true">options_save_button_label</button>
  </div>
</section>
<!-- build:js scripts/options.js -->
<script src="../scripts/options.js"></script>
<!-- endbuild --></body>
</html>